<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125108668086-o2166f0iavi29igcbquutvnem9qmd49a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125108668086-o2166f0iavi29igcbquutvnem9qmd49a</string>
	<key>API_KEY</key>
	<string>AIzaSyCEMNO9Rc87WUx1eCJIDkGr4EB8VksL_hE</string>
	<key>GCM_SENDER_ID</key>
	<string>125108668086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jitutor.jitutorapp</string>
	<key>PROJECT_ID</key>
	<string>jitutor</string>
	<key>STORAGE_BUCKET</key>
	<string>jitutor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125108668086:ios:312b597e4e5b11ae3b0817</string>
</dict>
</plist>